
@media screen and (max-width: 980px) {#rec366987875 .t-menusub__menu .t-menusub__link-item {color: #000000 !important; }
#rec366987875 .t-menusub__menu .t-menusub__link-item.t-active {color: #000000 !important; }
}

@media screen and (max-width: 980px) {#rec367166380 .t-menusub__menu .t-menusub__link-item {color: #ffffff !important; }
#rec367166380 .t-menusub__menu .t-menusub__link-item.t-active {color: #ffffff !important; }
}

#rec369769237 .t396__artboard {height: 80px; background-color: #ff4a4a; }
#rec369769237 .t396__filter {height: 80px; }
#rec369769237 .t396__carrier {height: 80px; background-position: center center; background-attachment: scroll; background-size: cover; background-repeat: no-repeat; }
@media screen and (max-width: 1199px) {#rec369769237 .t396__artboard {}
#rec369769237 .t396__filter {}
#rec369769237 .t396__carrier {background-attachment: scroll; }
}
@media screen and (max-width: 959px) {}
@media screen and (max-width: 639px) {}
@media screen and (max-width: 479px) {#rec369769237 .t396__artboard {height: 60px; }
#rec369769237 .t396__filter {height: 60px; }
#rec369769237 .t396__carrier {height: 60px; }
}
#rec369769237 .tn-elem[data-elem-id="1634813915001"] {color: #ffffff; text-align: center; z-index: 1; top: calc(40px - 0px + 0px); left: calc(50% - 45px + 0px); width: 90%; }
#rec369769237 .tn-elem[data-elem-id="1634813915001"] .tn-atom {color: #ffffff; font-size: 33px; font-family: 'Roboto', Arial, sans-serif; line-height: 1.55; font-weight: 300; background-position: center center; border-color: transparent; border-style: solid; }
@media screen and (max-width: 1199px) {}
@media screen and (max-width: 959px) {}
@media screen and (max-width: 639px) {#rec369769237 .tn-elem[data-elem-id="1634813915001"] .tn-atom {font-size: 25px; }
}
@media screen and (max-width: 479px) {#rec369769237 .tn-elem[data-elem-id="1634813915001"] .tn-atom {font-size: 17px; }
}

#rec366991219 .t-btn[data-btneffects-first],
#rec366991219 .t-btn[data-btneffects-second],
#rec366991219 .t-submit[data-btneffects-first],
#rec366991219 .t-submit[data-btneffects-second] {position: relative; overflow: hidden; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

#rec366990716 .t-btn[data-btneffects-first],
#rec366990716 .t-btn[data-btneffects-second],
#rec366990716 .t-submit[data-btneffects-first],
#rec366990716 .t-submit[data-btneffects-second] {position: relative; overflow: hidden; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

#rec366991272 .t-btn[data-btneffects-first],
#rec366991272 .t-btn[data-btneffects-second],
#rec366991272 .t-submit[data-btneffects-first],
#rec366991272 .t-submit[data-btneffects-second] {position: relative; overflow: hidden; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

#rec368403428 .t396__artboard {height: 180px; background-color: #c9c9c9; }
#rec368403428 .t396__filter {height: 180px; }
#rec368403428 .t396__carrier {height: 180px; background-position: center center; background-attachment: scroll; background-size: cover; background-repeat: no-repeat; }
@media screen and (max-width: 1199px) {#rec368403428 .t396__artboard {}
#rec368403428 .t396__filter {}
#rec368403428 .t396__carrier {background-attachment: scroll; }
}
@media screen and (max-width: 959px) {#rec368403428 .t396__artboard {height: 180px; }
#rec368403428 .t396__filter {height: 180px; }
#rec368403428 .t396__carrier {height: 180px; }
}
@media screen and (max-width: 639px) {#rec368403428 .t396__artboard {height: 160px; }
#rec368403428 .t396__filter {height: 160px; }
#rec368403428 .t396__carrier {height: 160px; }
}
@media screen and (max-width: 479px) {#rec368403428 .t396__artboard {height: 140px; }
#rec368403428 .t396__filter {height: 140px; }
#rec368403428 .t396__carrier {height: 140px; }
}
#rec368403428 .tn-elem[data-elem-id="1470209944682"] {color: #000000; z-index: 2; top: 43px; left: calc(50% - 600px + 181px); width: 838px; }
#rec368403428 .tn-elem[data-elem-id="1470209944682"] .tn-atom {color: #000000; font-size: 100px; font-family: 'Arial', Arial, sans-serif; line-height: 0.95; font-weight: 700; background-position: center center; border-color: transparent; border-style: solid; }
@media screen and (max-width: 1199px) {#rec368403428 .tn-elem[data-elem-id="1470209944682"] {top: 43px; left: calc(50% - 480px + 61px); }
}
@media screen and (max-width: 959px) {#rec368403428 .tn-elem[data-elem-id="1470209944682"] {top: 63px; left: calc(50% - 320px + 73px); width: 495px; }
#rec368403428 .tn-elem[data-elem-id="1470209944682"] .tn-atom {font-size: 59px; }
}
@media screen and (max-width: 639px) {#rec368403428 .tn-elem[data-elem-id="1470209944682"] {top: 59px; left: calc(50% - 240px + 52px); width: 376px; }
#rec368403428 .tn-elem[data-elem-id="1470209944682"] .tn-atom {font-size: 45px; }
}
@media screen and (max-width: 479px) {#rec368403428 .tn-elem[data-elem-id="1470209944682"] {top: 53px; left: calc(50% - 160px + 9px); width: 302px; }
#rec368403428 .tn-elem[data-elem-id="1470209944682"] .tn-atom {font-size: 36px; }
}
#rec368403428 .tn-elem[data-elem-id="1470210128180"] {color: #000000; z-index: 5; top: 470px; left: calc(50% - 600px + 783px); width: 190px; }
#rec368403428 .tn-elem[data-elem-id="1470210128180"] .tn-atom {color: #000000; font-size: 18px; font-family: 'Arial', Arial, sans-serif; line-height: 1.55; font-weight: 400; opacity: 0.2; background-position: center center; border-color: transparent; border-style: solid; }
@media screen and (max-width: 1199px) {}
@media screen and (max-width: 959px) {}
@media screen and (max-width: 639px) {}
@media screen and (max-width: 479px) {}

#rec371497019 .t396__artboard {height: 100px; background-color: #c9c9c9; }
#rec371497019 .t396__filter {height: 100px; }
#rec371497019 .t396__carrier {height: 100px; background-position: center center; background-attachment: scroll; background-size: cover; background-repeat: no-repeat; }
@media screen and (max-width: 1199px) {#rec371497019 .t396__artboard {}
#rec371497019 .t396__filter {}
#rec371497019 .t396__carrier {background-attachment: scroll; }
}
@media screen and (max-width: 959px) {#rec371497019 .t396__artboard {height: 180px; }
#rec371497019 .t396__filter {height: 180px; }
#rec371497019 .t396__carrier {height: 180px; }
}
@media screen and (max-width: 639px) {#rec371497019 .t396__artboard {height: 160px; }
#rec371497019 .t396__filter {height: 160px; }
#rec371497019 .t396__carrier {height: 160px; }
}
@media screen and (max-width: 479px) {#rec371497019 .t396__artboard {height: 100px; }
#rec371497019 .t396__filter {height: 100px; }
#rec371497019 .t396__carrier {height: 100px; }
}
#rec371497019 .tn-elem[data-elem-id="1470209944682"] {color: #0192d0; z-index: 2; top: 22px; left: calc(50% - 600px + 328px); width: 545px; }
#rec371497019 .tn-elem[data-elem-id="1470209944682"] .tn-atom {color: #0192d0; font-size: 60px; font-family: 'Arial', Arial, sans-serif; line-height: 0.95; font-weight: 700; background-position: center center; border-color: transparent; border-style: solid; }
@media screen and (max-width: 1199px) {#rec371497019 .tn-elem[data-elem-id="1470209944682"] {top: 22px; left: calc(50% - 480px + 208px); }
}
@media screen and (max-width: 959px) {#rec371497019 .tn-elem[data-elem-id="1470209944682"] {top: 57px; left: calc(50% - 320px + 53px); width: 535px; }
#rec371497019 .tn-elem[data-elem-id="1470209944682"] .tn-atom {font-size: 59px; }
}
@media screen and (max-width: 639px) {#rec371497019 .tn-elem[data-elem-id="1470209944682"] {top: 57px; left: calc(50% - 240px + 31px); width: 418px; }
#rec371497019 .tn-elem[data-elem-id="1470209944682"] .tn-atom {font-size: 45px; }
}
@media screen and (max-width: 479px) {#rec371497019 .tn-elem[data-elem-id="1470209944682"] {top: 36px; left: calc(50% - 160px + 23px); width: 274px; }
#rec371497019 .tn-elem[data-elem-id="1470209944682"] .tn-atom {font-size: 30px; }
}
#rec371497019 .tn-elem[data-elem-id="1470210128180"] {color: #000000; z-index: 5; top: 470px; left: calc(50% - 600px + 783px); width: 190px; }
#rec371497019 .tn-elem[data-elem-id="1470210128180"] .tn-atom {color: #000000; font-size: 18px; font-family: 'Arial', Arial, sans-serif; line-height: 1.55; font-weight: 400; opacity: 0.2; background-position: center center; border-color: transparent; border-style: solid; }
@media screen and (max-width: 1199px) {}
@media screen and (max-width: 959px) {}
@media screen and (max-width: 639px) {}
@media screen and (max-width: 479px) {}

#rec368356349 .t431 .t431__th {border-width: 0px 1px 1px 1px; background: #0192d0; border-color: #0192d0; color: #ffffff; font-weight: 700; }
#rec368356349 .t431 .t431__tbody tr:nth-child(1) td {border-top: 0 !important; }
#rec368356349 .t431 .t431__td {border-width: 1px 1px; vertical-align: top; border-color: #d9d9d9; color: #4d4c4c; }
#rec368356349 .t431 .t431__oddrow {background: #ffffff
}
#rec368356349 .t431 .t431__evenrow {background: #eeeeee
}
#rec368356349 .t431 .t431__btnwrapper a {color: #ffffff; border: 0px solid #000000; background-color: #000000; border-radius: 21px; -moz-border-radius: 21px; -webkit-border-radius: 21px; }

#rec371503038 .t396__artboard {height: 100px; background-color: #c9c9c9; }
#rec371503038 .t396__filter {height: 100px; }
#rec371503038 .t396__carrier {height: 100px; background-position: center center; background-attachment: scroll; background-size: cover; background-repeat: no-repeat; }
@media screen and (max-width: 1199px) {#rec371503038 .t396__artboard {}
#rec371503038 .t396__filter {}
#rec371503038 .t396__carrier {background-attachment: scroll; }
}
@media screen and (max-width: 959px) {#rec371503038 .t396__artboard {height: 180px; }
#rec371503038 .t396__filter {height: 180px; }
#rec371503038 .t396__carrier {height: 180px; }
}
@media screen and (max-width: 639px) {#rec371503038 .t396__artboard {height: 160px; }
#rec371503038 .t396__filter {height: 160px; }
#rec371503038 .t396__carrier {height: 160px; }
}
@media screen and (max-width: 479px) {#rec371503038 .t396__artboard {height: 100px; }
#rec371503038 .t396__filter {height: 100px; }
#rec371503038 .t396__carrier {height: 100px; }
}
#rec371503038 .tn-elem[data-elem-id="1470209944682"] {color: #0192d0; z-index: 2; top: 22px; left: calc(50% - 600px + 328px); width: 545px; }
#rec371503038 .tn-elem[data-elem-id="1470209944682"] .tn-atom {color: #0192d0; font-size: 60px; font-family: 'Arial', Arial, sans-serif; line-height: 0.95; font-weight: 700; background-position: center center; border-color: transparent; border-style: solid; }
@media screen and (max-width: 1199px) {#rec371503038 .tn-elem[data-elem-id="1470209944682"] {top: 22px; left: calc(50% - 480px + 208px); }
}
@media screen and (max-width: 959px) {#rec371503038 .tn-elem[data-elem-id="1470209944682"] {top: 63px; left: calc(50% - 320px + 53px); width: 534px; }
#rec371503038 .tn-elem[data-elem-id="1470209944682"] .tn-atom {font-size: 59px; }
}
@media screen and (max-width: 639px) {#rec371503038 .tn-elem[data-elem-id="1470209944682"] {top: 57px; left: calc(50% - 240px + 31px); width: 414px; }
#rec371503038 .tn-elem[data-elem-id="1470209944682"] .tn-atom {font-size: 45px; }
}
@media screen and (max-width: 479px) {#rec371503038 .tn-elem[data-elem-id="1470209944682"] {top: 36px; left: calc(50% - 160px + 24px); width: 273px; }
#rec371503038 .tn-elem[data-elem-id="1470209944682"] .tn-atom {font-size: 30px; }
}
#rec371503038 .tn-elem[data-elem-id="1470210128180"] {color: #000000; z-index: 5; top: 470px; left: calc(50% - 600px + 783px); width: 190px; }
#rec371503038 .tn-elem[data-elem-id="1470210128180"] .tn-atom {color: #000000; font-size: 18px; font-family: 'Arial', Arial, sans-serif; line-height: 1.55; font-weight: 400; opacity: 0.2; background-position: center center; border-color: transparent; border-style: solid; }
@media screen and (max-width: 1199px) {}
@media screen and (max-width: 959px) {}
@media screen and (max-width: 639px) {}
@media screen and (max-width: 479px) {}

#rec368406541 .t431 .t431__th {border-width: 0px 1px 1px 1px; background: #0192d0; border-color: #0192d0; color: #ffffff; font-weight: 700; }
#rec368406541 .t431 .t431__tbody tr:nth-child(1) td {border-top: 0 !important; }
#rec368406541 .t431 .t431__td {border-width: 1px 1px; vertical-align: top; border-color: #d9d9d9; color: #4d4c4c; }
#rec368406541 .t431 .t431__oddrow {background: #ffffff
}
#rec368406541 .t431 .t431__evenrow {background: #eeeeee
}
#rec368406541 .t431 .t431__btnwrapper a {color: #ffffff; border: 0px solid #000000; background-color: #000000; border-radius: 21px; -moz-border-radius: 21px; -webkit-border-radius: 21px; }

#rec371506626 .t396__artboard {height: 100px; background-color: #c9c9c9; }
#rec371506626 .t396__filter {height: 100px; }
#rec371506626 .t396__carrier {height: 100px; background-position: center center; background-attachment: scroll; background-size: cover; background-repeat: no-repeat; }
@media screen and (max-width: 1199px) {#rec371506626 .t396__artboard {}
#rec371506626 .t396__filter {}
#rec371506626 .t396__carrier {background-attachment: scroll; }
}
@media screen and (max-width: 959px) {#rec371506626 .t396__artboard {height: 180px; }
#rec371506626 .t396__filter {height: 180px; }
#rec371506626 .t396__carrier {height: 180px; }
}
@media screen and (max-width: 639px) {#rec371506626 .t396__artboard {height: 160px; }
#rec371506626 .t396__filter {height: 160px; }
#rec371506626 .t396__carrier {height: 160px; }
}
@media screen and (max-width: 479px) {#rec371506626 .t396__artboard {height: 100px; }
#rec371506626 .t396__filter {height: 100px; }
#rec371506626 .t396__carrier {height: 100px; }
}
#rec371506626 .tn-elem[data-elem-id="1470209944682"] {color: #0192d0; z-index: 2; top: 22px; left: calc(50% - 600px + 328px); width: 545px; }
#rec371506626 .tn-elem[data-elem-id="1470209944682"] .tn-atom {color: #0192d0; font-size: 60px; font-family: 'Arial', Arial, sans-serif; line-height: 0.95; font-weight: 700; background-position: center center; border-color: transparent; border-style: solid; }
@media screen and (max-width: 1199px) {#rec371506626 .tn-elem[data-elem-id="1470209944682"] {top: 22px; left: calc(50% - 480px + 208px); width: 532px; }
}
@media screen and (max-width: 959px) {#rec371506626 .tn-elem[data-elem-id="1470209944682"] {top: 63px; left: calc(50% - 320px + 61px); width: 519px; }
#rec371506626 .tn-elem[data-elem-id="1470209944682"] .tn-atom {font-size: 59px; }
}
@media screen and (max-width: 639px) {#rec371506626 .tn-elem[data-elem-id="1470209944682"] {top: 57px; left: calc(50% - 240px + 31px); width: 418px; }
#rec371506626 .tn-elem[data-elem-id="1470209944682"] .tn-atom {font-size: 45px; }
}
@media screen and (max-width: 479px) {#rec371506626 .tn-elem[data-elem-id="1470209944682"] {top: 36px; left: calc(50% - 160px + 28px); width: 264px; }
#rec371506626 .tn-elem[data-elem-id="1470209944682"] .tn-atom {font-size: 30px; }
}
#rec371506626 .tn-elem[data-elem-id="1470210128180"] {color: #000000; z-index: 5; top: 470px; left: calc(50% - 600px + 783px); width: 190px; }
#rec371506626 .tn-elem[data-elem-id="1470210128180"] .tn-atom {color: #000000; font-size: 18px; font-family: 'Arial', Arial, sans-serif; line-height: 1.55; font-weight: 400; opacity: 0.2; background-position: center center; border-color: transparent; border-style: solid; }
@media screen and (max-width: 1199px) {}
@media screen and (max-width: 959px) {}
@media screen and (max-width: 639px) {}
@media screen and (max-width: 479px) {}

#rec368417895 .t431 .t431__th {border-width: 0px 1px 1px 1px; background: #0192d0; border-color: #0192d0; color: #ffffff; font-weight: 700; }
#rec368417895 .t431 .t431__tbody tr:nth-child(1) td {border-top: 0 !important; }
#rec368417895 .t431 .t431__td {border-width: 1px 1px; vertical-align: top; border-color: #d9d9d9; color: #4d4c4c; }
#rec368417895 .t431 .t431__oddrow {background: #ffffff
}
#rec368417895 .t431 .t431__evenrow {background: #eeeeee
}
#rec368417895 .t431 .t431__btnwrapper a {color: #ffffff; border: 0px solid #000000; background-color: #000000; border-radius: 21px; -moz-border-radius: 21px; -webkit-border-radius: 21px; }

#rec368436260 .t396__artboard {height: 250px; background-color: #000000; }
#rec368436260 .t396__filter {height: 250px; }
#rec368436260 .t396__carrier {height: 250px; background-position: center center; background-attachment: scroll; background-size: cover; background-repeat: no-repeat; }
@media screen and (max-width: 1199px) {#rec368436260 .t396__artboard {}
#rec368436260 .t396__filter {}
#rec368436260 .t396__carrier {background-attachment: scroll; }
}
@media screen and (max-width: 959px) {#rec368436260 .t396__artboard {height: 230px; }
#rec368436260 .t396__filter {height: 230px; }
#rec368436260 .t396__carrier {height: 230px; }
}
@media screen and (max-width: 639px) {#rec368436260 .t396__artboard {height: 210px; }
#rec368436260 .t396__filter {height: 210px; }
#rec368436260 .t396__carrier {height: 210px; }
}
@media screen and (max-width: 479px) {#rec368436260 .t396__artboard {height: 180px; }
#rec368436260 .t396__filter {height: 180px; }
#rec368436260 .t396__carrier {height: 180px; }
}
#rec368436260 .tn-elem[data-elem-id="1470209944682"] {color: #ffffff; z-index: 2; top: 78px; left: calc(50% - 600px + -26px); width: 1252px; }
#rec368436260 .tn-elem[data-elem-id="1470209944682"] .tn-atom {color: #ffffff; font-size: 100px; font-family: 'Arial', Arial, sans-serif; line-height: 0.95; font-weight: 700; background-position: center center; border-color: transparent; border-style: solid; }
@media screen and (max-width: 1199px) {#rec368436260 .tn-elem[data-elem-id="1470209944682"] {top: 88px; left: calc(50% - 480px + -22px); width: 1004px; }
#rec368436260 .tn-elem[data-elem-id="1470209944682"] .tn-atom {font-size: 80px; }
}
@media screen and (max-width: 959px) {#rec368436260 .tn-elem[data-elem-id="1470209944682"] {top: 59px; left: calc(50% - 320px + 93px); width: 455px; }
#rec368436260 .tn-elem[data-elem-id="1470209944682"] {text-align: center; }
#rec368436260 .tn-elem[data-elem-id="1470209944682"] .tn-atom {font-size: 60px; }
}
@media screen and (max-width: 639px) {#rec368436260 .tn-elem[data-elem-id="1470209944682"] {top: 49px; left: calc(50% - 240px + 13px); }
}
@media screen and (max-width: 479px) {#rec368436260 .tn-elem[data-elem-id="1470209944682"] {top: 53px; left: calc(50% - 160px + 7px); width: 307px; }
#rec368436260 .tn-elem[data-elem-id="1470209944682"] .tn-atom {font-size: 36px; }
}
#rec368436260 .tn-elem[data-elem-id="1470210128180"] {color: #000000; z-index: 5; top: 470px; left: calc(50% - 600px + 783px); width: 190px; }
#rec368436260 .tn-elem[data-elem-id="1470210128180"] .tn-atom {color: #000000; font-size: 18px; font-family: 'Arial', Arial, sans-serif; line-height: 1.55; font-weight: 400; opacity: 0.2; background-position: center center; border-color: transparent; border-style: solid; }
@media screen and (max-width: 1199px) {}
@media screen and (max-width: 959px) {}
@media screen and (max-width: 639px) {}
@media screen and (max-width: 479px) {}

#rec368469975 .t-slds__bullet_active .t-slds__bullet_body {background-color: #222 !important; }
#rec368469975 .t-slds__bullet:hover .t-slds__bullet_body {background-color: #222 !important; }

#rec369770839 .t396__artboard {height: 80px; background-color: #ff4a4a; }
#rec369770839 .t396__filter {height: 80px; }
#rec369770839 .t396__carrier {height: 80px; background-position: center center; background-attachment: scroll; background-size: cover; background-repeat: no-repeat; }
@media screen and (max-width: 1199px) {#rec369770839 .t396__artboard {}
#rec369770839 .t396__filter {}
#rec369770839 .t396__carrier {background-attachment: scroll; }
}
@media screen and (max-width: 959px) {}
@media screen and (max-width: 639px) {}
@media screen and (max-width: 479px) {#rec369770839 .t396__artboard {height: 60px; }
#rec369770839 .t396__filter {height: 60px; }
#rec369770839 .t396__carrier {height: 60px; }
}
#rec369770839 .tn-elem[data-elem-id="1634813915001"] {color: #ffffff; text-align: center; z-index: 1; top: calc(40px - 0px + 0px); left: calc(50% - 45px + 0px); width: 90%; }
#rec369770839 .tn-elem[data-elem-id="1634813915001"] .tn-atom {color: #ffffff; font-size: 33px; font-family: 'Roboto', Arial, sans-serif; line-height: 1.55; font-weight: 300; background-position: center center; border-color: transparent; border-style: solid; }
@media screen and (max-width: 1199px) {}
@media screen and (max-width: 959px) {}
@media screen and (max-width: 639px) {#rec369770839 .tn-elem[data-elem-id="1634813915001"] .tn-atom {font-size: 25px; }
}
@media screen and (max-width: 479px) {#rec369770839 .tn-elem[data-elem-id="1634813915001"] .tn-atom {font-size: 17px; }
}

#rec369240904 .t-btn[data-btneffects-first],
#rec369240904 .t-btn[data-btneffects-second],
#rec369240904 .t-submit[data-btneffects-first],
#rec369240904 .t-submit[data-btneffects-second] {position: relative; overflow: hidden; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

#rec371032381 .t-slds__bullet_active .t-slds__bullet_body {background-color: #222 !important; }
#rec371032381 .t-slds__bullet:hover .t-slds__bullet_body {background-color: #222 !important; }

#rec366286392 .t396__artboard {height: 70px; }
#rec366286392 .t396__filter {height: 70px; }
#rec366286392 .t396__carrier {height: 70px; background-position: center center; background-attachment: scroll; background-size: cover; background-repeat: no-repeat; }
@media screen and (max-width: 1199px) {#rec366286392 .t396__artboard {}
#rec366286392 .t396__filter {}
#rec366286392 .t396__carrier {background-attachment: scroll; }
}
@media screen and (max-width: 959px) {}
@media screen and (max-width: 639px) {}
@media screen and (max-width: 479px) {}
#rec366286392 .tn-elem[data-elem-id="1619093362936"] {color: #ffffff; text-align: center; z-index: 1; top: 17px; left: calc(50% - 280px + 0px); width: 560px; }
#rec366286392 .tn-elem[data-elem-id="1619093362936"] .tn-atom {color: #ffffff; font-size: 20px; font-family: 'Roboto', Arial, sans-serif; line-height: 1.8; font-weight: 400; background-position: center center; border-color: transparent; border-style: solid; }
@media screen and (max-width: 1199px) {}
@media screen and (max-width: 959px) {}
@media screen and (max-width: 639px) {}
@media screen and (max-width: 479px) {}

#rec366286395 input::-webkit-input-placeholder {color: #000000; opacity: 0.5; }
#rec366286395 input::-moz-placeholder {color: #000000; opacity: 0.5; }
#rec366286395 input:-moz-placeholder {color: #000000; opacity: 0.5; }
#rec366286395 input:-ms-input-placeholder {color: #000000; opacity: 0.5; }
#rec366286395 textarea::-webkit-input-placeholder {color: #000000; opacity: 0.5; }
#rec366286395 textarea::-moz-placeholder {color: #000000; opacity: 0.5; }
#rec366286395 textarea:-moz-placeholder {color: #000000; opacity: 0.5; }
#rec366286395 textarea:-ms-input-placeholder {color: #000000; opacity: 0.5; }
